//Variables for colours to be used throughout the webpage
$transparentBrownLight: #9c7c3863;
$white: #FFFFFF;
$darkBrown1: #3b2e12;
$gold:#ffd700;
$darkBrown2:#3a2c0f;
$blanchedAlmond:#ffebcd;
$lightReddishBrown:#A57164;
$reddishBrown:#A83731;
$shadowBlack:#00000096;
$black:#000000;
$camelTan:#C39953;
$lightBrown1:#a57164c2;
$transparentWhite: #ffffff00;
$pinkishRed:#dd5454;
$darkRed:#aa0909;
$lightBlueCyan:#23c1f1;
$darkerBlue:#1a1ac5;
$burlywood:burlywood;
